.content
  = form_for @story do |f|
    - if @story.errors.any?
      %h2
        = pluralize(@story.errors.count, "error")
        prohibited this story from being saved
        %ul
          - @story.errors.full_messages.each do |msg|
            %li
              = mgs

    %p
      name:
      %br/
      = f.text_field :name
    %p
      link:
      %br/
      = f.text_field :link
    %p
      = submit_tag
